<%
  conf = JDucks::Core::Conf.instance
%><!DOCTYPE>
<html>
  <head>
    <title><%= conf.project_name %> | <%= complete_resource_name %></title>
    <link rel="stylesheet" type="text/css" href="<%= relative_path_for "stylesheets/styles.css" %>">
  </head>
  <body>
    <header role="banner">
      <a href="#" class="project_name"><%= conf.project_name %></a>
    </header>
    <article role="main">
      <%= yield %>
    </article>
  </body>
</html>