<article class="project_details">
  <%= render "partials/project_details_header", :locals=>{
      :complete_resource_name=>complete_resource_name,
      :extends=>extends,
      :parsed_items=>parsed_items,
      :declared_at=>declared_at,
      :source=>source,
      :dependencies=>dependencies,
      :dependency_of=>dependency_of
    } %>

  <% if description %>
  <section id="description">
    <h1 class="m-subheader">Description</h1>
    <div class="m-text">
      <p><%= description %></p>
    </div>
  </section><% end %>
  
  <%= render "partials/declaration", :locals=>{
    :resource_name=>resource_name,
    :arguments=>arguments,
    :label=>"Constructor"
  } %>
  
  <section id="methods">
    <h1 class="m-subheader">Methods</h1>
    <% if self_methods 
        self_methods.each do |method_properties| 
          arguments = method_properties["arguments"]
          method_name = method_properties["method"]
          example = method_properties["example"] %>
        <article id="<%=method_properties['method']%>" class="m-method">
          <h2><%=method_name%></h2>
          <%= render "partials/declared_at", :locals=>{
            :file_path=>parsed_items[:sources][method_properties["source"]][:path],
            :line=>method_properties["declared_at"],
            :source=>method_properties["source"]
          } %>
          <pre class="code-example"><code class="javascript"><%= function_declaration method_name, arguments %></code></pre>
          <% if method_properties["returns"] %><h3 class="m-subheader method-title">Returns</h3>
          <div class="m-text returns">
            <p><%= method_properties["returns"] %></p>
          </div>
          <% end %>
          <% if arguments && arguments.length != 0 %><h3 class="m-subheader method-title" id="<%=method_name%>-arguments">Arguments</h3>
          <%= render "partials/arguments_list", :locals=>{:arguments=>arguments, :method_name=>method_name} %>
          <% end %>
          <% if example %>
            <h3 class="m-subheader">Example</h3>
            <pre class="code-example"><code class="javascript"><%=example%></code></pre>
          <% end %>
        </article>
    <%  end
       end %>
  </section>

<!-- 
  
  <% if html_example %>
  <div>
    <%= html_example %>
  </div>
  <pre><%= CGI.escapeHTML html_example %>  </pre>
  <% end %>
  
-->