<%
  declaration = %~function (#{(arguments || {}).map{|name, description| 
    "#{"<span>#{$~[1]}</span> " if description.match /^\((.+?)\)/}#{name}" 
  }.join(", ")})#{":#{returns || "void"}"}~
%><div class="function">
  <h1><%= function %></h1>
  <% if description %><h2>Description</h2>
  <p><%= description %></p>
  <% end %>
  <h2>Declaration</h2>
  <p><%= declaration %></p>
  <% if arguments %><h2>Arguments</h2>
  <dl><% arguments.each do |arg, desc| %>
    <dt><%=arg%></dt>
    <dd><%=desc%></dd>
  <% end %></dl>
  <% end %>
  <% if example  || html_example%>
  <h2>Example Usage</h2>
  <pre>
<%= example %>  </pre>
  <% if html_example %>
  <div>
    <%= html_example %>
  </div>
  <pre>
<%= CGI.escapeHTML html_example %>
  </pre>
  <% end %>
  <% end %>
  
</div>