<%
  # debugger
  declaration = ""
  # %~function(#{(arguments || {}).map{|name, description| 
  #   "#{"<span>#{$~[1]}</span> " if description.match /^\((.+?)\)/}#{name}" 
  # }.join(", ")})#{":#{return_type returns}"}~
%><article class="project_details">
  <%= render "partials/project_details_header", :locals=>{
    :complete_resource_name=>complete_resource_name,
    :extends=>extends,
    :parsed_items=>parsed_items,
    :declared_at=>declared_at,
    :source=>source,
    :dependencies=>dependencies,
    :dependency_of=>dependency_of
  } %>

  <% if description %>
  <section id="description">
    <h1 class="m-subheader">Description</h1>
    <div class="m-text">
      <p><%= description %></p>
    </div>
  </section><% end %>
  
  <section id="constructor">
    <h1 class="m-subheader">Declaration</h1>
    <pre class="code-example"><code class="javascript"><%= function_declaration resource_name, arguments %></code></pre>
  </section>
  
  <% if returns %><h3 class="m-subheader">Returns</h3>
  <div class="m-text">
    <p><%= returns %></p>
  </div>
  <% end %>

  <% if arguments %><div><h2 class="m-subheader" id="arguments">Arguments</h2>
  <%= render "partials/arguments_list", :locals=>{:arguments=>arguments, :method_name => "constructor"} %>
  </div><% end %>

  <% if example  || html_example%>
  
  <% if example %>
    <h3 class="m-subheader">Example</h3>
    <div>
      <pre class="code-example"><code class="javascript"><%=example%></code></pre>
    </div>
  <% end %>
  
  <% if html_example %>
  <div>
    <%= html_example %>
  </div>
  <pre><%= CGI.escapeHTML html_example %>  </pre>
  <% end %>

  <% end %>
  
</article>